In [12]:
#data types and arithmetic operations
1

1

In [13]:
1.0

1.0

In [14]:
1+1

2

In [15]:
1*3

3

In [16]:
1/2

0.5

In [17]:
2**4

16

In [18]:
2+3*5+5

22

In [19]:
4%4

0

In [20]:
5%2

1

In [21]:
8%2

0

In [22]:
var=2

In [23]:
var

2

In [24]:
x=2
y=3

In [25]:
x+y

5

In [26]:
x=x+x

In [27]:
x

4

In [28]:
name_of_var=12

In [29]:
#Strings

In [30]:
'single quote'

'single quote'

In [31]:
"This is a string"

'This is a string'

In [32]:
"I can't go"

"I can't go"

In [33]:
x='hello'

In [34]:
x

'hello'

In [35]:
print(x)

hello

In [36]:
num=12
name='Sam'

In [38]:
print('My number is {} and my name is {}'.format(num,name))

My number is 12 and my name is Sam

In [40]:
print(f"My number is {num} and my name is {name}")

My number is 12 and my name is Sam

In [41]:
#slicing
s='hello'

In [42]:
s[0]

'h'

In [43]:
s[-1]

'o'

In [44]:
s='abcdefghijk'

In [45]:
s[0:]

'abcdefghijk'

In [47]:
s[:3]

'abc'

In [49]:
s[3:6]

'def'

In [50]:
[1,2,3]

[1, 2, 3]

In [51]:
['a','b','c']

['a', 'b', 'c']

In [126]:
list2=['a','b','c']

In [127]:
list2.append('d')

In [128]:
list2

['a', 'b', 'c', 'd']

In [129]:
list2[0]

'a'

In [130]:
list2[1:3]

['b', 'c']

In [131]:
list2[0]='New'

In [132]:
list2

['New', 'b', 'c', 'd']

In [59]:
list1=[1,2,[3,4]]

In [62]:
list1[2][1]

4

In [63]:
d={'key1':'value','key2':123}

In [64]:
d

{'key1': 'value', 'key2': 123}

In [65]:
d['key1']

'value'

In [66]:
d['key2']

123

In [67]:
d={'k1':[1,2,3]}

In [68]:
l1=d['k1']

In [69]:
l1

[1, 2, 3]

In [70]:
d={'k1':{'innerkey':[1,2,3]}}

In [71]:
d['k1']['innerkey'][1]

2

In [72]:
True

True

In [73]:
False

False

In [74]:
my_list=[1,2,3]

In [75]:
my_list[0]

1

In [76]:
t=(1,2,3)

In [77]:
t[0]

1

In [78]:
my_list[0]='new'

In [79]:
my_list

['new', 2, 3]

In [81]:
t[0]='new' # tuples are immutable

TypeError: 'tuple' object does not support item assignment

In [82]:
#set
{1,2,2,3,4,6}

{1, 2, 3, 4, 6}

In [83]:
set([1,1,1,3,3,2,2,6,6,5,8,6,4])

{1, 2, 3, 4, 5, 6, 8}

In [84]:
s={1,2,3}

In [85]:
s.add(5)

In [86]:
s

{1, 2, 3, 5}

In [87]:
#logical operaters
1>2

False

In [88]:
1<2

True

In [89]:
1<=2

True

In [90]:
1>=2

False

In [91]:
1==1

True

In [92]:
1==3

False

In [93]:
1!=3

True

In [95]:
'hi'!='bye'

True

In [96]:
1<2 and 2>3

False

In [97]:
1<2 or 2>3

True

In [ ]:
#conditional statements

In [98]:
if 1<2:
    print('hello')

hello

In [99]:
if True:
    print('hii')

hii

In [101]:
if 1==2:
    print('First')
elif 3==3:
    print('Middle')
else:
    print('Last')

Middle

In [ ]:
# loops

In [102]:
seq=[1,2,3,4,5]

In [103]:
for item in seq:
    print(item)

1
2
3
4
5

In [104]:
for num in seq:
    print('hello')

hello
hello
hello
hello
hello

In [105]:
i=1

while i<5:
    print(f'i is: {i}')
    i=i+1

i is: 1
i is: 2
i is: 3
i is: 4

In [107]:
#range 
for x in range(0,5):
    print(x)

0
1
2
3
4

In [110]:
x=[1,2,3,4]

In [111]:
out=[]

for num in x:
    out.append(num**2)

In [112]:
print(out)

[1, 4, 9, 16]

In [113]:
#list comprehensin
[num**2 for num in x]

[1, 4, 9, 16]

In [116]:
#function
def fun(a):
    print(f' hello {a}')

In [117]:
fun('python')

 hello python

In [118]:
def square(num):
    return num**2

In [119]:
output=square(2)

In [120]:
output

4

In [5]:
def times2(var):
    return var*2

In [6]:
times2(5)

10

In [7]:
#lambda function with map and filter
seq=[1,2,3,4,5]

In [8]:
list(map(times2,seq))

[2, 4, 6, 8, 10]

In [9]:
t=lambda var:var*2

In [10]:
t(6)

12

In [11]:
list(map(lambda num:num*3,seq))

[3, 6, 9, 12, 15]

In [13]:
list(filter(lambda num:num%2==0,seq))

[2, 4]

In [14]:
#string operation
s='hello my name is pratiksha'

In [15]:
s.lower()

'hello my name is pratiksha'

In [16]:
s.title()

'Hello My Name Is Pratiksha'

In [17]:
s.upper()

'HELLO MY NAME IS PRATIKSHA'

In [18]:
s.split()

['hello', 'my', 'name', 'is', 'pratiksha']

In [19]:
tweet = 'go sports! #sports'

In [21]:
tweet.split('#')[1]

'sports'

In [22]:
#dictionary operation
d={'k1':1,'k2':2}

In [23]:
d

{'k1': 1, 'k2': 2}

In [24]:
d.keys()

dict_keys(['k1', 'k2'])

In [25]:
d.items()

dict_items([('k1', 1), ('k2', 2)])

In [26]:
d.values()

dict_values([1, 2])

In [27]:
#list operations
lst=[1,2,3]

In [28]:
lst.pop()

3

In [29]:
lst

[1, 2]

In [30]:
lst=[1,2,3,4,5]

In [31]:
item=lst.pop()

In [32]:
lst

[1, 2, 3, 4]

In [33]:
item

5

In [34]:
first=lst.pop(0)

In [35]:
lst

[2, 3, 4]

In [36]:
first

1

In [37]:
lst.append('new')

In [38]:
lst

[2, 3, 4, 'new']

In [39]:
#in
'x' in [1,2,3]

False

In [40]:
'x' in ['x','y','z']

True

In [41]:
#Tuple unpacking
x=[(1,2),(3,4),(5,6)]

In [43]:
for item in x:
    print(item)

(1, 2)
(3, 4)
(5, 6)

In [45]:
for (a,b) in x:
    print(a)
    print(b)

1
2
3
4
5
6